/.vs/TripleProject/config/applicationhost.config
/.vs/TripleProject/DesignTimeBuild/.dtbcache.v2
/.vs/TripleProject/v16/.suo
/ConsolePart/bin/Debug/ConsolePart.exe
/ConsolePart/bin/Debug/ConsolePart.exe.config
/ConsolePart/bin/Debug/ConsolePart.pdb
/ConsolePart/bin/Debug/LibraryPart.dll
/ConsolePart/bin/Debug/LibraryPart.pdb
/ConsolePart/obj/Debug/ConsolePart.csproj.CopyComplete
/ConsolePart/obj/Debug/ConsolePart.csproj.CoreCompileInputs.cache
/ConsolePart/obj/Debug/ConsolePart.csproj.FileListAbsolute.txt
/ConsolePart/obj/Debug/ConsolePart.csprojAssemblyReference.cache
/ConsolePart/obj/Debug/ConsolePart.exe
/ConsolePart/obj/Debug/ConsolePart.pdb
/ConsolePart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibraryPart/bin/Debug/LibraryPart.dll
/LibraryPart/bin/Debug/LibraryPart.pdb
/LibraryPart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibraryPart/obj/Debug/LibraryPart.csproj.CoreCompileInputs.cache
/LibraryPart/obj/Debug/LibraryPart.csproj.FileListAbsolute.txt
/LibraryPart/obj/Debug/LibraryPart.csprojAssemblyReference.cache
/LibraryPart/obj/Debug/LibraryPart.dll
/LibraryPart/obj/Debug/LibraryPart.pdb
/WebPart/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebPart/obj/Debug/WebPart.csproj.CopyComplete
/WebPart/obj/Debug/WebPart.csproj.CoreCompileInputs.cache
/WebPart/obj/Debug/WebPart.csproj.FileListAbsolute.txt
/WebPart/obj/Debug/WebPart.csprojAssemblyReference.cache
/WebPart/obj/Debug/WebPart.dll
/WebPart/obj/Debug/WebPart.pdb
/WebPart/bin/LibraryPart.dll
/WebPart/bin/LibraryPart.pdb
/WebPart/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WebPart/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WebPart/bin/roslyn/csc.exe
/WebPart/bin/roslyn/csc.exe.config
/WebPart/bin/roslyn/csc.rsp
/WebPart/bin/roslyn/csi.exe
/WebPart/bin/roslyn/csi.exe.config
/WebPart/bin/roslyn/csi.rsp
/WebPart/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/WebPart/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/WebPart/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/WebPart/bin/roslyn/Microsoft.CodeAnalysis.dll
/WebPart/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/WebPart/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/WebPart/bin/roslyn/Microsoft.CSharp.Core.targets
/WebPart/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/WebPart/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/WebPart/bin/roslyn/Microsoft.Managed.Core.targets
/WebPart/bin/roslyn/Microsoft.VisualBasic.Core.targets
/WebPart/bin/roslyn/Microsoft.Win32.Primitives.dll
/WebPart/bin/roslyn/System.AppContext.dll
/WebPart/bin/roslyn/System.Collections.Immutable.dll
/WebPart/bin/roslyn/System.Console.dll
/WebPart/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
/WebPart/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/WebPart/bin/roslyn/System.Diagnostics.StackTrace.dll
/WebPart/bin/roslyn/System.Globalization.Calendars.dll
/WebPart/bin/roslyn/System.IO.Compression.dll
/WebPart/bin/roslyn/System.IO.Compression.ZipFile.dll
/WebPart/bin/roslyn/System.IO.FileSystem.dll
/WebPart/bin/roslyn/System.IO.FileSystem.Primitives.dll
/WebPart/bin/roslyn/System.Net.Http.dll
/WebPart/bin/roslyn/System.Net.Sockets.dll
/WebPart/bin/roslyn/System.Reflection.Metadata.dll
/WebPart/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
/WebPart/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/WebPart/bin/roslyn/System.Security.Cryptography.Encoding.dll
/WebPart/bin/roslyn/System.Security.Cryptography.Primitives.dll
/WebPart/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/WebPart/bin/roslyn/System.Text.Encoding.CodePages.dll
/WebPart/bin/roslyn/System.Threading.Tasks.Extensions.dll
/WebPart/bin/roslyn/System.ValueTuple.dll
/WebPart/bin/roslyn/System.Xml.ReaderWriter.dll
/WebPart/bin/roslyn/System.Xml.XmlDocument.dll
/WebPart/bin/roslyn/System.Xml.XPath.dll
/WebPart/bin/roslyn/System.Xml.XPath.XDocument.dll
/WebPart/bin/roslyn/vbc.exe
/WebPart/bin/roslyn/vbc.exe.config
/WebPart/bin/roslyn/vbc.rsp
/WebPart/bin/roslyn/VBCSCompiler.exe
/WebPart/bin/roslyn/VBCSCompiler.exe.config
/WebPart/bin/WebPart.dll
/WebPart/bin/WebPart.dll.config
/WebPart/bin/WebPart.pdb
